body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.navcontainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* 
  HEADER STYLES 
*/

.site-header {
  background-color: #121212;
}

.navcontainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  margin-left: 30px;
}

.nav-list a {
  color: white;
  font-weight: bold;
}

.nav-list a.current-page {
  border-bottom: 2px solid #9370db;
  padding-bottom: 5px;
}

.site-logo {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.intro {
  background-image: url("nyc_p1.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 100px 0;
}

.intro-content {
  background-color: #121212;
  opacity: 0.7; /* 70% opacity for the entire element and its content */
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.intro span {
  color: #9370db;
}

/* 
  FEATURED ATTRACTIONS 
*/

.featured-attractions {
  padding: 40px 0;
  text-align: center;
}

.featured-attractions h2 {
  color: #9370db;
  margin-bottom: 20px;
}

.attraction-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.attraction-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden; /* Hide image overflow for rounded corners */
  margin-bottom: 20px;
  width: 48%; /* Two cards per row */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.attraction-card img {
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  color: #121212;
}

.read-more-link {
  display: inline-block;
  background-color: #9370db;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more-link:hover {
  background-color: #7a52ae;
}

/* 
  ICONIC VIEW SECTION
*/

.iconic-view {
  text-align: center;
}

/* 
  FOOTER STYLES
*/
.site-footer {
  background-color: darkorange;
  color: black;
  padding: 30px 0;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  width: 30%; /* Adjust for 3 columns */
  margin-bottom: 20px;
}

.policies-link {
  color: black;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.social-icons {
  margin-top: 10px;
}

.follow-icon {
  width: 30px;
  margin-right: 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.follow-icon:hover {
  opacity: 1;
}
